/* Resetando o CSS para começar do ZERO */
@import url(assets/style/reset.css);

/* Importado o style do menu-hamburg */
@import url(assets/style/menu-hamburg.css);

/* Importado o style do menu-hamburg */
@import url(assets/style/prjetos.css);

/* Ferramentas palhetas de cores e fontes de texto */
:root {
    --cor-primaria: rgba(167, 168, 167, 0.414);
    --cor-secundaria: black;
    --cor-botao: rgba(30, 30, 30, 0.422);
    --cor-hover: rgba(123, 119, 119, 0.496);

    --fonte-secundaria: 'Krona One', sans-serif;
    --fonte-primaria: 'Montserrat', sans-serif;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte-secundaria);
    font-size: 40px;
    font-weight: 600;
    padding: .5em;
}
.titulo-aux{
    color: var(--cor-botao);
    padding-left: 5px;
}
.border-radiuns-40{
    display: none;
}
/* <Pagina principal (mobile)/> */
body{
    font-family: var(--fonte-primaria);
    font-size: 18px;
    font-weight: 400;
    background-color: var(--cor-primaria);
    overflow-x: hidden;
    height: auto;
}
/* HOME */
.bg-card{
    background-color: rgba(255, 255, 255, 0.419);
    border: none;
}
header{
    display: flex;
    
}
.menu-nav{
    display: none;
    gap: 2em;
    padding: 2em;
    margin: 0 5em 0 auto;
}

.nav-link{
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    font-weight: 100;
    color: var(--cor-secundaria);
    height: 15px;
    transition: .5s;
    border-radius: 20px;
}
.nav-link:hover{
    color: rgba(0, 0, 0, 0.599);
     
}
.menu-nav{
    
    display: none;
    align-items: center;
}
.menu-nav .btn{
    justify-items: center;
    padding: 10px 5px;
}
.logo-ph{
    padding: 25px;
}
.container-home{
    display: flex;
    flex-direction: column;
}

.img{
    display: flex;
    margin: auto;
    width: 200px;
    border-radius: 20px;
    margin-bottom: 1em;
}
section.home__box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.329) ;
    margin: 0 auto;
    padding: 2em;
    width: 90vw;
}
img.nav__img{
    display: block;
    margin: auto;
}
.hiden{
    display: none;
}
.home__hello{
    display: flex;
    justify-content: center;
}

.home__titulo{
    font-family: var(--fonte-primaria);
    font-size: 20px;
    font-weight: 600;
}
.home__titulo span{
    font-family: var(--fonte-secundaria);
    font-size: 18px;
    font-weight: 500;
}
.btn__links{
    display: flex;
    gap: 2em;
    margin: auto;
    
}
.btn_{
    height: 2em;
    display: flex;
    gap: 5px;
    background-color: var(--cor-botao);
    font-family: var(--fonte-secundaria);
    font-weight: 100;
    font-size: 16px;
    border-radius: 5px;
    color: var(--cor-secundaria);
    transition: .5s;
    padding: .3em 1em;
    align-items: center;
}
.btn_:hover{
    box-shadow: 0 0 18px rgb(126, 124, 124) ;
    background-color: var(--cor-hover);
}

.curriculo{
    display: flex;
    margin:1em auto 4em auto;
    width: 8em;
    height: 2em;
}

.menu-nav_hamburg{
    display: none;
    position: fixed;
    background-color: aliceblue;
    z-index: 1;
    flex-direction: column;
}

.menu-nav_hamburg .links-hamburg{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.nav-link_hamburg{
    margin: 1em;
    font-size: 2em;
}

.input-menu:checked ~ .menu-nav_hamburg  {
    display: flex;
}
.input-menu:checked ~ .container_menu-hamburg{
    position: fixed;
}
/* FIM HOME */

/* Sobre mim */
.container_sobre-mim{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90VW;
    margin: auto;
    border: 0 solid var(--cor-primaria);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.329) ;
    gap: 20px;
    border-radius: 15px;
}

.texto_sobre-mim{
    margin: 1em;
    width: 70vw;
}

/* FIM Sobre mim */

/* Projetos */
.container_projeto{
    border: 0 solid var(--cor-primaria);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.329) ;
    width: 90VW;
    border-radius: 15px;
    margin: auto;
    height: auto;
}
section.container_projeto .interface .d-flex{
    justify-content: space-around;
    
}
.card-projeto{
   width: 360px;
   height: 460px;
   background-size: cover;
   background-position: 100% 0%;
   
   cursor: pointer;
   border-radius: 40px; 
   position: relative;
}
.container-cards{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    margin: 2em;
    
}
.nome-projeto{
    background-color: var(--cor-primaria);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 18px rgb(0, 0, 0) ;
    border-radius: 40px; 
    font-family: var(--fonte-secundaria);
    font-size: 18px;
    font-weight: 600;
    opacity: 0;
    transition: .5s;

}
.nome-projeto:hover{
    opacity: 1;
}
.card-projeto:hover{
    background-position: 100% 0%;
    transition: 8s;
}
.container-conhecimento{
    width: auto;
    height: auto;
}
.container-skill{
    gap: 20px;
    display: flex;
    justify-content: space-around;
    margin: 1em auto 3em auto;
    width: 50vw;
    height: auto;
    flex-wrap: wrap;
}
div.img-skill{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    cursor: pointer;
}
div.img-skill:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px var(--cor-hover);
}




/* FIM Projeros */
/* contato */
.container-contato{
    border: 0 solid var(--cor-primaria);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.329) ;
    width: 90VW;
    border-radius: 15px;
    margin: auto;
    height: auto;
}

footer{
    margin-top: 1em;
    padding: 2em 0;
    text-align: center;
    font-size: 12px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.09) ;
}

@media screen and ( min-width: 900px){
    .border-radiuns-40{
        display: flex;
        border-radius: 40px;
    }
    header{
        margin-left: 50px;
    }
    .menu-hamburg{
        display: none;
    }
    .menu-nav_hamburg{
        display: none;
    }

    .menu-nav{
        display: flex;
    }
    section.home__box{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 5em;
        padding-bottom: 150px;
    }
    .container-home{
        display: block;
        margin: auto 0;
        padding-top: 80px;
        
    }
    .btn__links{
        margin-top: 2em;
    }
    .home__titulo{
        font-size: 30px;
        font-weight: 600;
    }

    .texto_sobre-mim{
        margin: 1em;
        width: 35vw;
    }
    .hiden{
        display: flex;
    }
    .container-cards{
        flex-direction: row;
    }
    

    
}

