*{
    margin: 0;
    padding: 0;
}

header{
    display: block;
    background-color: aqua;
    height: 100vh;
    width: 100vw;

}

header > nav{
    position: relative;
    border: 1px solid black;
    display: flex;
    width: 100vw;
    height: 100px;
}

nav > ul{
    position: absolute;
    display: flex;
    right: 50px;
}

.home{
    display: block;
}

.img-home{
    position: relative;
    display: flex;
    top: 28.3vh;
    justify-content: center;
    align-self: center;
}

.img-home > img{
    width: 100vw
}

.biografia{
    height: 100vh;
}

.projetos{
    height: 100vh;
}

.contatos{
    height: 100vh;
}