.container_menu-hamburg span{
    display: block;
    background-color: black;
    width: 50px;
    height: 5px;
    border-radius: 10px;
    margin: .3em;
    transition:.5s
}
.container_menu{
    transition: .3s;
    position:absolute ;
    
}
.container_menu-hamburg{
    cursor: pointer;
    margin: 35px 5px;
    position:absolute;
    left: auto;
    right: 20px;
    top: 0;
    height: 40px;
    
}
.input-menu{
    display: none;  
}

.input-menu:checked ~ .container_menu-hamburg span:nth-child(2){
    transform: translatex(250%);
    
}
.input-menu:checked ~ .container_menu-hamburg span:nth-child(1){
    transform: rotate(140deg);
    position:absolute ;
    
    
}
.input-menu:checked ~ .container_menu-hamburg span:nth-child(3){
    transform: rotate(40deg);
    position:absolute ;
}

