
:root {
    --cor-primaria: rgb(146, 144, 195);
    --cor-secundaria: black;
    --cor-terciaria: rgb(5, 0, 79);
    --cor-hover: rgba(0, 255, 255, 0.050);

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
    
/* <pag principal (mobile)> */
body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
    width: 70vw;
    margin: auto;
}

h3, strong{
    color: var(--cor-terciaria);
}


header.box{
    margin-top: 15px;
}
.nav__box{
    align-items: center;
    align-content: center;
}
.nav__img{
    display: flex;
    
    justify-content: center;
    margin: auto;
    border-radius: 100px;
}
.nav__links{
    margin: auto;
    padding-top: 15px;
    display: flex;
    align-content: center;
    justify-content:space-around;
    width: 50vw;
    font-size: 1.2rem; 
    padding-left: 15px;
    
}

hr{
    border: 1px solid var(--cor-secundaria);
}

.home__hello{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin-top: 15px;
}
.home__links{
    flex-direction: column;
    display: flex;
    margin: auto;
    text-align: center;
       
}
.home__links>a{
    display:inline-flex;
    border: 2px solid var(--cor-secundaria);
    margin: 0.1rem;
    color: var(--cor-terciaria);
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    font-weight: 700;
}
.home__links>a:hover{
    background-color:var(--cor-hover);
    color: var(--cor-terciaria);
    box-shadow: 3px 3px 3px var(--cor-hover);
}
.home__img{
    padding: 15px;
    display: flex;
    justify-content: center;
}
.box__biography{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
p{
    margin: auto;
}
.center{
    display: flex;
    justify-content: center;
}
a.curriculo{
    border: 2px solid var(--cor-secundaria);
    color: var(--cor-terciaria);
    width: 100px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 700;
    margin: 10px 0;
}
a.curriculo:hover{
    background-color: var(--cor-hover);
    color: var(--cor-terciaria);
    box-shadow: 3px 3px 3px var(--cor-hover);
}
.rodape{
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 1rem;
    color: var(--cor-terciaria);
    height: 40px;
}

/* <final da pag principal (mobile)/> */

